# Python
__pycache__/
*.py[cod]
*.log
*.sqlite
.env
.venv/
*.env

# Data
data/cites/
storage/

# Jupyter/VS Code
.ipynb_checkpoints/
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store

# Dagster
.tmp_dagster_home_*/